{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_tcpdffonts/fontlist

    This template will render TCPDF Fonts overview with all actions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * locationcustomized whether or not the tcpdf folder has been customised yet
    * hasfonts whether or not we have fonts
    * fonts fonts list

    Example context (json):
    {
        "locationcustomized": false,
        "groupedbyfamily": false,
        "hasfonts": true,
        "fonts": [
            {
                "fontname": "fontname",
                "type": "",
                "file": "/home/..../fontname.php",
                "ctg": "/home/..../fontname.ctg.z",
                "path": "/home/..../",
                "style": "IB",
                "iscore": true,
                "name": "name",
                "family": "fontfamily",
                "actions": {
                    "delete": {
                        "action": "<a href=\".....\"></a>"
                    },
                    "edit": {
                        "action": "<a href=\".....\"></a>"
                    },
                    "download": {
                        "action": "<a href=\".....\"></a>"
                    },
                    "preview": {
                        "action": "<a href=\".....\"></a>"
                    }
                }
            }
        ],
        "actions": {
            "add": {
                "action": "<a href=\".....\"></a>"
            },
            "addzipped": {
                "action": "<a href=\".....\"></a>"
            },
            "reset": {
                "action": "<a href=\".....\"></a>"
            },
            "init": {
                "action": "<a href=\".....\"></a>"
            },
            "togglefamilyview": {
                "action": "<a href=\".....\"></a>"
            }
        }
    }
}}
{{> tool_tcpdffonts/folderstate }}
<div class="tool_tcpdffonts-entity-actions mt-3 mb-3">
    <div class="d-flex flex-row flex-grow">
        {{#actions.add.action}}{{{.}}}{{/actions.add.action}}
        {{#actions.addzipped.action}}{{{.}}}{{/actions.addzipped.action}}
        {{#actions.reset.action}}{{{.}}}{{/actions.reset.action}}
        {{#actions.init.action}}{{{.}}}{{/actions.init.action}}
        {{#actions.togglefamilyview.action}}{{{.}}}{{/actions.togglefamilyview.action}}
    </div>
</div>
<div class="tool_tcpdffonts" data-region="tool_tcpdffonts-fonts-container">
    {{! Fonts list view. Separate mustache because of inline replacing }}
    {{> tool_tcpdffonts/fontlist}}
</div>
